<div class="row">
    
    <div class="col-md-6">
      <h4 style="text-align:center" id="h4">Get 'em while they're hot!</h4>
      <hr>
      <div id="ready_to_eat">

        {{#each burger}}
          {{#unless devoured}}
          <form action="burger/devour/{{ID}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{ID}} - {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-danger devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          <br>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <div class="col-md-6">
      <h4 style="text-align:center" id="h4">Already in the belly!</h4>
      <hr>
      <div id="already_eaten">

        {{#each burger}}
          {{#if this.devoured}}
            <div class="input-group" id="eatenthings">
              <li class="form-control">{{this.ID}} - {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
</div>
